
@font-face {
  font-family: "My Custom Font";
  src: url(fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

body { 
  font-family: 'Roboto Mono', monospace; 
}

#title h1{
  color: red;
  visibility: collapse;
}

p {
  margin-bottom: 2rem;
}

.chorus{
  background-color: dimgray;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 2rem;
}


.chorus> :last-child{
  margin-bottom: 0rem;
}

.tab {
  font-size: smaller;
}