
@font-face {
  font-family: "My Custom Font";
  src: url(fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

body { 
  font-family: 'Roboto Mono', monospace; 
}

#title h1{
  color: red;
  visibility: collapse;
}

p {
  margin-bottom: 2rem;
}

.chorus{
  padding-left: 20px;
  background-color: dimgray;
}

.tab {
  font-size: smaller;
}